@model Blackjack.Models.Game

@{
    if (Context.Request.Method == "POST")
    {
        ViewData["Title"] = "POST";
    }
    else
    {
        ViewData["Title"] = "GET";
    }
}

<div class="contentBox col-6 offset-3 my-5 p-4 bg-light text-dark border border-dark rounded-lg" id="casinoBox">
    <h3>Method = @ViewData["Title"]</h3>
    <h4>Dealer</h4>
    <div id="dealersCards">
        @foreach (var item in Model.Dealer.Hand.Cards)
        {
            if (item == Model.Dealer.Hand.Cards.ElementAt(0))
            {
                <img src="~/images/Back.png" height="150" />
            }
            else
            {
                <img src="~/images/@item.ImagePath" height="150" class="shift" />
            }
        }
    </div>
    <h4>Player: @Html.DisplayFor(model => model.Player.Username) <em>(value = @Model.Player.Hand.SumOfHand() )</em></h4>
    <div id="playersCards">
        @foreach (var item in Model.Player.Hand.Cards)
        {
            <img src="~/images/@item.ImagePath" height="150" />
        }
    </div>

    <form method="post" asp-action="Play">
        <input type="text" asp-for="GameID" />
        <input type="text" asp-for="Player.Bet" />
        <input type="radio" id="stand" name="gamePlay" value="stand" />
        <label for="stand">Stand</label><br>
        <input type="radio" id="hit" name="gamePlay" value="hit" />
        <label for="stand">Hit</label><br>
        <input type="submit" value="Submit Move" class="btn btn-default" />
    </form>

    <a class="btn btn-success mt-3" asp-controller="Home" asp-action="Hit">Add Cards!</a>


    @*<a asp-action="Hit" asp-route-id="@GameID" class="btn">Hit Me</a>
        <a asp-action="Hit" class="btn btn-light">Hit</a>
        <button asp-action="Hit" asp-route-id="@GameID" class="btn">Hit</button>*@

    @*<form asp-action="Hit">
            <input type="submit" value="Hit" class="btn btn-default" />
        </form>
        <form asp-action="Stand">
            <input type="submit" value="Stand" class="btn btn-default" />
        </form>*@
    }


</div>

